<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518040660343-ofv96llfagkmea2o3g132i9hnp6td9mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518040660343-ofv96llfagkmea2o3g132i9hnp6td9mb</string>
	<key>API_KEY</key>
	<string>AIzaSyADkHXEe7DwS6PsumCy4uj6HfPJ67oYOsU</string>
	<key>GCM_SENDER_ID</key>
	<string>518040660343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>om.roskalava.app</string>
	<key>PROJECT_ID</key>
	<string>roskalava-bcab5</string>
	<key>STORAGE_BUCKET</key>
	<string>roskalava-bcab5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518040660343:ios:fdd66f6d13131ee1f35972</string>
</dict>
</plist>